{% set miq_map = salt['grains.filter_by']({
    'Debian': {
      'sudo': 'sudo',
      'git': 'git',
      'libxml2devel': 'libxml2-devel',
      'libxml2': 'libxml2',
      'libxslt': 'libxslt',
      'libxsltdevel': 'libxslt-devel',
      'postgresql-devel': 'postgresql-devel',
      'postgresql-server': 'postgresql-server',
      'memcached': 'memcached',
      'rubydevel': 'ruby-devel',
      'ruby': 'ruby',
      'rubygems': 'rubygems',
      'rubygembundler': 'rubygem-bundler',
      'nettools': 'net-tools',
      'nodejs': 'nodejs',
      'vhostdir': '/etc/apache2/sites-available',
      'apache': 'httpd'
    },
    'RedHat': {
      'sudo': 'sudo',
      'git': 'git',
      'libxml2devel': 'libxml2-devel',
      'libxml2': 'libxml2',
      'libxslt': 'libxslt',
      'libxsltdevel': 'libxslt-devel',
      'postgresqldevel': 'postgresql-devel',
      'postgresqlserver': 'postgresql-server',
      'memcached': 'memcached',
      'rubydevel': 'ruby-devel',
      'ruby': 'ruby',
      'rubygems': 'rubygems',
      'rubygembundler': 'rubygem-bundler',
      'nettools': 'net-tools',
      'nodejs': 'nodejs',
      'vhostdir': '/etc/httpd/conf.d',
      'apache': 'httpd'
    },
    'Suse': {
      'sudo': 'sudo',
      'git': 'git',
      'libxml2devel': 'libxml2-devel',
      'libxml2': 'libxml2',
      'libxslt': 'libxslt',
      'libxsltdevel': 'libxslt-devel',
      'postgresqldevel': 'postgresql-devel',
      'postgresqlserver': 'postgresql-server',
      'memcached': 'memcached',
      'rubydevel': 'ruby-devel',
      'ruby': 'ruby',
      'rubygems': 'rubygems',
      'rubygembundler': 'rubygem-bundler',
      'nettools': 'net-tools',
      'nodejs': 'nodejs',
      'vhostdir': '/etc/httpd/conf.d',
      'apache': 'httpd'
    },
}, merge=salt['pillar.get']('manageiq:lookup')) %}

